
.container {
    width: 50%;
    margin-top: 70px;
    padding: 20px;
    border-radius: 20px;
    border: solid 2px #fff;
    background-color: #333;
    position: inherit;
    align-items: center;
    color: aliceblue;
}

form {
    text-align: center;
}

label {
    color: aliceblue;
}

input, select, textarea {
    margin: 10px 0;
    width: 100%;
}

textarea {
    resize: vertical;
}

h3, h4 {
    color: aliceblue;
}

.btn-group {
    display: flex;
    justify-content: center;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  
}

header img {
    width: 150px;
}

/* Menu de navegação */
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: #555;
}
    
  
